.generate-code, .remove-code{
    z-index: -1;
    margin: 6rem auto;
    max-width: 300px;
    width: 95%;
    padding: 4rem;
    background-color: white;
    font-size: 1.3rem;
    //box-shadow: $custom-box-shadow;
    border-radius: 20px;


    input[type=number], textarea {
        width: 100%;
        display: block;
        padding: 1rem;
        margin: 2rem 0;
        outline: none;
        resize: none;
    }

    textarea {
        margin:0;
    }

    p
    {
        margin: .5rem;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        outline: 2px solid black;
        padding: 1rem;
        border-radius: 5px;
        transition: all .5s;
        cursor: pointer;
        margin-top: 1rem;

        &:hover {
            background: $primary-color;
            transform: scale(1.02);
        }
    }

}

.listing
{
    z-index: -1;
    margin: 6rem auto;
    max-width: 1200px;
    width: 95%;
    padding: 4rem;
    background-color: white;
    font-size: 1.3rem;
    //box-shadow: $custom-box-shadow;
    border-radius: 20px;

    svg
    {
        display: none;
    }

    nav
    {
        padding: 1rem;
        font-size: 2rem;
        font-family: "Permanent Marker", cursive;
    }

    table
    {
        border-collapse: collapse;
        min-width: 400px;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 5px 5px 0 0;
        margin:1rem;
        overflow: hidden;


        thead tr
        {
            background-color:$primary-color2;
            font-weight: bold;
            color:black;
            text-align: left;
            padding: 5px;
        }

        th,td
        {
            padding: 1rem 1.3rem;
        }

        tbody tr
        {
            border-bottom: 1px solid $primary-light;
        }

        tbody tr:nth-child(even)
        {
            background-color: #f3f6f8;
        }
    }
}
