
.register, .login {
    z-index: -1;
    margin: 6rem auto;
    max-width: 600px;
    width: 95%;
    padding: 4rem;
    background-color: white;
    font-size: 1.3rem;
    //box-shadow: $custom-box-shadow;
    border-radius: 20px;

    button {
        margin-top: 2.6rem;
    }

    &__label {

        display: inline-block;
        margin: 1rem 0 .3rem 0;
        visibility: hidden;
    }

    &__login,
    &__email,
    &__password {
        width: 100%;
        display: block;
        padding: 1rem 1rem 1rem 5rem;
        position: relative;
        outline: none;
    }

    &__info {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    &__group {
        position: relative;
    }

    &__submit {
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        outline: 2px solid black;
        padding: 1rem;
        border-radius: 5px;
        transition: all .5s;
        cursor: pointer;

        &:hover {
            background: $primary-color;
            transform: scale(1.02);
        }

    }

}

