
.register, .login {
   @include content(600px);

    button {
        margin-top: 2.6rem;
    }

    &__label {

        display: inline-block;
        margin: 1rem 0 .3rem 0;
        visibility: hidden;
    }

    &__login,
    &__email,
    &__password {
        width: 100%;
        display: block;
        padding: 1rem 1rem 1rem 5rem;
        position: relative;
        outline: none;
    }

    &__info {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    &__group {
        position: relative;
    }

    &__submit {
        @extend %input-style;
        border: none;
        background: transparent;
        outline: 2px solid black;
        border-radius: 5px;
        transition: all .5s;
        cursor: pointer;

        &:hover {
            background: $primary-color;
            transform: scale(1.02);
        }

    }

}

