.listing {
    @include content(1200px);

    svg {
        display: none;
    }

    nav {
        padding: 1rem;
        font-size: 2rem;
        font-family: "Permanent Marker", cursive;
    }

    table {
        border-collapse: collapse;
        min-width: 300px;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 5px 5px 0 0;
        margin: 1rem;
        overflow: hidden;
        @media (max-width: 500px) {
            font-size: 0.8rem;
        }


        thead tr {
            background-color: $primary-color2;
            font-weight: bold;
            color: black;
            text-align: left;
            padding: 5px;
        }

        th, td {
            padding: 1rem 1.3rem;
        }

        tbody tr {
            border-bottom: 1px solid $primary-light;
        }

        tbody tr:nth-child(even) {
            background-color: #f3f6f8;
        }
    }
}
