.main-header {
    @include flex(space-between, center);
    height: 60px;
    color: $primary-light;
    background: $primary-dark;
    padding: .7rem;

    a {
        color: white;
        font-size: 1.7rem;
        transition: all .3s;
        display: inline-block;

        &:hover,
        &:focus {
            color: $primary-color;
            transform: translateY(-1px);
        }
    }

    &__logo {
        flex-basis: 30%;
        margin-left: 1rem;
        @media(max-width: $breakpoint) {
            flex-basis: 80%;
        }

        a {
            font-family: "Permanent Marker", cursive;
            font-size: 3rem;
        }
    }

    &__menu {
        @include flex(space-around, center);
        flex-basis: 70%;
        z-index: 2;
        @media(max-width: 900px) {
            display: none;

            &__item {
                @include flex(center, center);
                height: 25%;
                position: relative;
                z-index: 1000;

                a {
                    font-size: 3rem;
                }

                &:hover {
                    background-color: cadetblue;
                }
            }

            &__username {
                @media (max-width: $breakpoint) {
                    display: none;
                }
            }
        }
    }

    &__close {
        display: none;
        cursor: pointer;
        z-index: 2;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

.mobile {
    @include flex(space-around, stretch);
    z-index: 1;
    text-align: center;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 0;
    background: $primary-dark;
    backdrop-filter: blur(2rem);
}

#logout-button {
    background-color: $info-color;
    color: $primary-light;
    padding: .5rem;
    border: none;
    margin-top: 2px;
    border-radius: 5px;
    cursor: pointer;
}



