.generate-code input[type=submit], .remove-code input[type=submit], .generate-code input[type=number], .generate-code textarea, .remove-code input[type=number], .remove-code textarea, .register__submit, .login__submit {
  width: 100%;
  display: block;
  padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background: #F4FAFF;
  color: black;
  min-height: 100vh;
}

a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #F4FAFF;
  background: #150421;
  padding: 0.7rem;
}
.main-header a {
  color: white;
  font-size: 1.7rem;
  transition: all 0.3s;
  display: inline-block;
}
.main-header a:hover, .main-header a:focus {
  color: #fbff71;
  transform: translateY(-1px);
}
.main-header__logo {
  flex-basis: 30%;
}
@media (max-width: 900px) {
  .main-header__logo {
    flex-basis: 80%;
  }
}
.main-header__logo a {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}
.main-header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
  z-index: 2;
}
@media (max-width: 900px) {
  .main-header__menu {
    display: none;
  }
  .main-header__menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    position: relative;
    z-index: 1000;
  }
  .main-header__menu__item a {
    font-size: 3rem;
  }
  .main-header__menu__item:hover {
    background-color: cadetblue;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .main-header__menu__username {
    display: none;
  }
}
.main-header__close {
  display: none;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 20px;
}

.mobile {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  z-index: 1;
  text-align: center;
  flex-direction: column;
  position: fixed;
  inset: 0 0 0 0;
  background: #150421;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

#logout-button {
  background-color: #BB254B;
  color: #F4FAFF;
  padding: 0.5rem;
  border: none;
  margin-top: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.main-header__burger {
  display: none;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 900px) {
  .main-header__burger {
    display: flex;
  }
}
.main-header__burger .main-header__burger__line::before, .main-header__burger .main-header__burger__line::after, .main-header__burger .main-header__burger__line {
  background: white;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}
.main-header__burger__line::before, .main-header__burger__line::after {
  content: "";
  position: absolute;
}
.main-header__burger__line::before {
  transform: translateY(-8px);
}
.main-header__burger__line::after {
  transform: translateY(8px);
}

.fa-id-card,
.fa-user {
  margin-right: 0.5rem;
}

.fa-bars {
  color: transparent;
  background: none;
}

.fa-custom {
  position: absolute;
  left: 3rem;
  top: 50%;
  z-index: 1;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  border-right: 2px solid #150421;
  padding-right: 1rem;
  color: #150421;
}

.register, .login {
  z-index: -1;
  margin: 6rem auto;
  max-width: 600px;
  width: 95%;
  padding: 4rem;
  background-color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.register button, .login button {
  margin-top: 2.6rem;
}
.register__label, .login__label {
  display: inline-block;
  margin: 1rem 0 0.3rem 0;
  visibility: hidden;
}
.register__login, .register__email, .register__password, .login__login, .login__email, .login__password {
  width: 100%;
  display: block;
  padding: 1rem 1rem 1rem 5rem;
  position: relative;
  outline: none;
}
.register__info, .login__info {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.register__group, .login__group {
  position: relative;
}
.register__submit, .login__submit {
  border: none;
  background: transparent;
  outline: 2px solid black;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.register__submit:hover, .login__submit:hover {
  background: #fbff71;
  transform: scale(1.02);
}

.generate-code, .remove-code {
  z-index: -1;
  margin: 6rem auto;
  max-width: 300px;
  width: 95%;
  padding: 4rem;
  background-color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.generate-code input[type=number], .generate-code textarea, .remove-code input[type=number], .remove-code textarea {
  margin: 2rem 0;
  outline: none;
  resize: none;
}
.generate-code textarea, .remove-code textarea {
  margin: 1rem 0 0 0;
}
.generate-code p, .remove-code p {
  margin: 0.5rem;
}
.generate-code input[type=submit], .remove-code input[type=submit] {
  border: none;
  background: transparent;
  outline: 2px solid black;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1rem;
}
.generate-code input[type=submit]:hover, .remove-code input[type=submit]:hover {
  background: #fbff71;
  transform: scale(1.02);
}

.is-invalid {
  border: 1px solid #BB254B;
}

.input-error {
  margin-top: 2px;
  position: absolute;
  color: #BB254B;
}

.error {
  color: #BB254B;
}

.alert--wrong {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background-color: #BB254B;
  color: #F4FAFF;
}

.alert--success {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background-color: #04A777;
  color: #F4FAFF;
}

.listing {
  z-index: -1;
  margin: 6rem auto;
  max-width: 1200px;
  width: 95%;
  padding: 4rem;
  background-color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.listing svg {
  display: none;
}
.listing nav {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}
.listing table {
  border-collapse: collapse;
  min-width: 400px;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px 5px 0 0;
  margin: 1rem;
  overflow: hidden;
}
.listing table thead tr {
  background-color: #95f4cc;
  font-weight: bold;
  color: black;
  text-align: left;
  padding: 5px;
}
.listing table th, .listing table td {
  padding: 1rem 1.3rem;
}
.listing table tbody tr {
  border-bottom: 1px solid #F4FAFF;
}
.listing table tbody tr:nth-child(even) {
  background-color: #f3f6f8;
}
